body {
    background-color: #aed4da;
    font-family: Consolas;
    color: #533318;
    font-size: x-large;
}

h1 {
    color: #0e524b;
    font-size: 50px;
    margin-bottom: 5%;
}

h2 {
    color: #0e524b;
    margin-bottom: 2%;
}

a {
    text-decoration: none;
    color: #0e524b;
    display: block;
}

a:hover {
    text-decoration: none;
    color: #1c8a7f;
}

.layered {
    background-color: #ffffff55;
    overflow: visible;
    border-radius: 2%;
    padding-top: 2em;
    padding-bottom: 1em;
}

.aboutme, .work {
    margin-top: 5em;
}

.cloud1 {
    position: fixed;
    top: 5%;
    left: -10%;
    max-height: 60%;
    z-index: -1;
    opacity: 70%;
}


/* Navbar styling */
:root {
    --navbar-bg-color: #d0e5e8b9;
    --navbar-text-color-focus: #533318;
    --navbar-text-color: #0e524b;
    --navbar-bg-hover: #ffffff55;
    --navbar-height: 64px;
}

.container {
    /* max-width: 80%; */
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    margin-left: auto;
    margin-right: auto;
}

#navbar {
    position: fixed;
    height: var(--navbar-height);
    background-color: var(--navbar-bg-color);
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px rgba(43, 82, 116, 0.15);
}

.navbar-container {
    height: 65%;  
    float: right;
    margin-top: 0.5em;

    padding-left: 1em;
    padding-right: 1em;
    align-items: center;
}

/* .navbar-links {
    list-style-type: none;
    overflow: hidden;
    position: absolute;
    display: flex;
    align-items: center;
} */



.navbar-item {
    margin: 0.4em;
    width: 100%;
}

.navbar-link {
    color: var(--navbar-text-color);
    transition: color 0.2s ease-in-out;
    font-weight: 800;
    transition: background-color 0.2s ease-in-out,
                color 0.2s ease-in-out;
    text-decoration: none;
    
    display: flex;
    justify-content: center;
    padding: 0.4em 0.8em;
    border-radius: 30%;
    align-items: center;
}

/* .navbar-link:focus, */
.navbar-link:hover {
    color: var(--navbar-text-color-focus);
    background-color: var(--navbar-bg-hover);
    text-decoration: none;
}

.navbar-logo {
    position: absolute;
    top: -3.5em;
    left: -4em;
    margin-right: 0.5em;
    max-width: 400%;
    max-height: 400%;
    
    /* top: -50%;
    left: -50%;
    margin-right: 0.5em;
    width: 100%;
    height: 100%; */
    
}

.navbar-toggle {
    cursor: pointer;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon-bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 2px;
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out,
                transform 0.2s ease-in-out,
                opacity 0.2s ease-in-out;
    background-color: var(--navbar-text-color);
}

/* .navbar-toggle:focus .icon-bar, */
.navbar-toggle:hover .icon-bar {
    background-color: var(--navbar-text-color-focus);
}

/* trying to get rid of outline when clicked */
.navbar-toggle:focus .icon-bar {
    border: none;
    outline: 0;
    outline: none;
}

#navbar.opened .navbar-toggle .icon-bar:first-child,
#navbar.opened .navbar-toggle .icon-bar:last-child {
    position: absolute;
    margin: 0;
    width: 30px;
}

#navbar.opened .navbar-toggle .icon-bar:first-child {
    transform: rotate(45deg);
}

#navbar.opened .navbar-toggle .icon-bar:nth-child(2) {
    opacity: 0;
}

#navbar.opened .navbar-toggle .icon-bar:last-child {
    transform: rotate(-45deg);
}

.navbar-menu {
    position: fixed;
    top: var(--navbar-height);
    bottom: 0;
    /* transition: opacity 0.2s ease-in-out,
                visibility 0.2s ease-in-out; */
    opacity: 0;
    visibility: hidden;
    left: 0;
    right: 0;
}

#navbar.opened .navbar-menu {
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    visibility: visible;
}

/* !! */
.navbar-links {
    list-style-type: none;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    right: 0;
    margin: 1.4rem;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#navbar.opened .navbar-links {
    padding: 1em;
    max-height: none;
}

@media screen and (min-width: 700px) {
    .navbar-toggle {
        display: none;
    }
    
    #navbar .navbar-menu,
    #navbar.opened .navbar-menu {
        visibility: visible;
        opacity: 1;
        position: static;
        display: block;
        height: 100%;
    }

    #navbar .navbar-links,
    #navbar.opened .navbar-links {
        margin: 0;
        padding: 0;
        box-shadow: none;
        position: static;
        flex-direction: row;
        list-style-type: none;
        max-height: max-content;
        width: 100%;
        height: 100%;
    }

    #navbar .navbar-link:last-child {
        margin-right: 0;
    }
}

.contact-icon {
    height: 1em;
    width: 1em;
    padding: 0%;
    margin: 0%;
}

footer {
    /* margin-top: 15em; */
    color: rgb(0, 0, 0);
    font-size: small;
    text-align: center;
    padding-top: 15em;

    background-image: url(grass.png);
    /* background-attachment: fixed; */
    background-size: 35em;
    background-position: bottom;
    background-repeat: repeat-x;
    opacity: 50%;
}

.contact-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

footer li {
    display: inline-block;
    margin: 2%;
}

.contact-link {
    max-height: 3em;
    max-width: 3em;
}